html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@import url("https://fonts.cdnfonts.com/css/satoshi");

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll-container {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.content {
  width: 100vw;
}

.screen-h {
  height: 100dvh;
  // min-height: -webkit-fill-available;
}
