$transition-delay: 0.05s;
$first-delay: 0.4s;

.navbar-overlay {
  .ul-animation {
    li {
      opacity: 0;
      transition: all 0.5s ease-in-out;
      transform: translateY(40px);
    }
  }
  .contact-button {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(40px);
  }
  &.active {
    .ul-animation {
      li {
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.5s ease-in-out;
            @if $i == 1 {
              transition-delay: $first-delay;
            } @else {
              transition-delay: $first-delay + $transition-delay * $i;
            }
          }
        }
      }
    }

    .contact-button {
      opacity: 1;
      transition: all 0.5s ease-in-out;
      transform: translateY(0px);
      transition-delay: $first-delay + $transition-delay * 7;
    }
  }
}

.element-navbar {
  position: absolute;
  top: calc(50% + env(safe-area-inset-bottom));
  left: 50%;
  transform: translate(-50%, -50%);
}
